<h1>Edit User</h1>

<div>
  <% if @user.errors.any? %>
    <div>
      <p><%= pluralize(@user.errors.size, 'error') %> detected.</p>
      <ul>
        <% @user.errors.each do |err| %>
          <li><%= err.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!--  <form action="/users" method="post" accept-charset="UTF-8">-->
    <%= form_with model: @user do |form| %>
      <label for="username">Username:</label>
      <%= form.text_field :username, placeholder: "Your username here." %>
      <br><br>

      <label for="email">Email:</label>
      <%= form.text_field :email, placeholder: "example@example.com" %>
      <br><br>

      <label for="password">Password:</label>
      <%= form.password_field :password, placeholder: "Your password here." %>
      <br><br>

      <%= form.submit "Edit" %>
    <% end %>
<!--  </form>-->
</div>