<h1>New User Creation</h1>

<div>
  <form action="/users" method="post" accept-charset="UTF-8">
    <%= form_with model: @user do |form| %>
      <label for="username">Username:</label>
      <%= form.text_field :username, placeholder: "Your username here." %>
      <br><br>

      <label for="email">Email:</label>
      <%= form.text_field :email, placeholder: "example@example.com" %>
      <br><br>

      <label for="password">Password:</label>
      <%= form.password_field :password, placeholder: "Your password here." %>
      <br><br>

      <%= form.submit "Create" %>
    <% end %>
  </form>
</div>

<!--<div>-->
  <%#= form_tag do %>
    <%#= label_tag(:username, "Username:") %>
    <%#= text_field_tag(:username) %>
<!--    <br><br>-->
    <%#= label_tag(:email, "Email: ") %>
    <%#= text_field_tag(:email) %>
<!--    <br><br>-->
    <%#= label_tag(:password, "Password: ") %>
    <%#= password_field_tag(:password) %>
<!--    <br><br>-->
    <%#= submit_tag("Create") %>
  <%# end %>
<!--</div>-->